# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Output files
*.pdf
*.log

TODO_when_versions_change
OLD
checks/
data/
raw-data/
inst/
output/
reports/
docs/
metadata/tmp_meta_variables.xlsx
extra/